@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li:hover {
  cursor: pointer;
  background-color: rgb(139, 167, 218)
}

ol, ul {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.studentLink {
  background-color: cornflowerblue;
  border: 1px solid black;
  padding: 2%;
  margin: 2%;
  border-radius: 2em;
}

.highlight {
  color: rgb(5, 30, 255);
  background-color: rgb(212, 54, 48);
  font-size: x-large;
  font-weight: bolder;
}

.highlight:hover {
  background-color: rgb(253, 8, 0);
}

.mega {
  font-size: 100px;
  color: rgb(26, 255, 5);
  background-color: rgb(204, 48, 212);
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#reset {
  width: 33%;
  margin: auto;
  border-radius: 4em;
  color: cornflowerblue;
}

.picker {
  width: 33%;
  margin: auto;
  border-radius: 4em;
  color: red;
}

#completed {
  list-style-type: none;
}

#groupHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}